telethon
pyrofork
tgcrypto
motor
Flask
gunicorn
Jinja2
werkzeug
itsdangerous
yt-dlp
aiohttp
dnspython
pysocks
requests
beautifulsoup4
apscheduler
pyromod
ffmpeg-python
hachoir
pillow
psutil
python-dotenv
opencv-python-headless
cryptography
mutagen
