pyrofork==2.3.45
tgcrypto
motor
Flask
gunicorn
Jinja2
werkzeug
itsdangerous
yt-dlp
aiohttp
dnspython
pysocks
requests
beautifulsoup4
apscheduler
pyromod
ffmpeg-python
hachoir
pillow
